<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - Eat Smart</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Eat Smart", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" @Html.ActionLink("About", "Index", "Home")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" @Html.ActionLink("Food Nutrition", "About", "Home")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" @Html.ActionLink("Nutrition Calculator", "Contact", "Home")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" @Html.ActionLink("Forum", "Contact", "Home")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" @Html.ActionLink("Contact", "Contact", "Home")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" @Html.ActionLink("My Food Diary", "Contact", "Home")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" @Html.ActionLink("Administrator", "Contact", "Home")</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownLog">
                            <a class="dropdown-item" @Html.ActionLink("Contact", "Contact", "Home")</a>
                            <a class="dropdown-item" @Html.ActionLink("About", "About", "Home")</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    <!-- Footer -->
    <footer class="py-1 bg-dark fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white">&copy; @DateTime.Now.Year - Eat Smart</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


